
<ul style="list-style-type: none; padding: 0px;">
     <% categories.each_slice(6).each_with_index do |_cats, index| %>
        <% _cats.each do |cat| %>
            <div class="">
                <a href="<%= cat.the_url %>" class="">
                    <li style="border-bottom:1px solid gray; padding:20px 0px 0px;"><%= cat.the_title %></li>
                </a>
            </div>
        <% end %>
    <% end %>
   <!--<li style="border-bottom:1px solid gray;">Seguridad Vial</li> --> 
</ul>

