<!-- .main-container close  -->
<div class="main-container">
  <section class="tw-slider tw-slider-fullscreen uk-light">
    <div class="owl-carousel owl-theme">
      <div class="slider-item" data-overlay="0.4" style="background-color: #151515;
       background-image: url(/demo/shop/shop-bg1.jpg);">
      </div>
    </div>
  </section>

  <section class="uk-section uk-section-shop">
    <div class="uk-container">
      <div class="tw-element tw-table uk-overflow-auto">
        <table class="uk-table uk-table-middle uk-table-small with-border uk-margin-remove-bottom">
          <thead>
            <tr>
              <th class="uk-table-shrink uk-text-center uk-visible@l"></th>
              <th class="uk-width-expand">Product</th>
              <th class="uk-table-shrink uk-text-center uk-visible@l">Price</th>
              <th class="uk-table-shrink uk-text-center">Referencia</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="uk-text-center uk-visible@l"><button type="button" data-uk-close></button></td>
              <td>
                <a href="/detalle" class="shop-title uk-visible@l"><img src="/demo/shop/cart1.jpg" alt="Backpack In Black" title="Backpack In Black">Backpack In Black</a></td>
              <td class="uk-text-center uk-visible@l">$40.00</td>
              <td class="uk-text-center"><input class="uk-input shop-input" type="number" placeholder="1"></td>
            </tr>
            <tr>
              <td class="uk-text-center uk-visible@l"><button type="button" data-uk-close></button></td>
              <td>
                <a href="shop-single.html" class="shop-title uk-visible@l"><img src="/demo/shop/cart2.jpg" alt="Slim Shirt With Stretch In Black" title="Slim Shirt With Stretch In Black">Slim Shirt With Stretch In Black</a>
              </td>
              <td class="uk-text-center uk-visible@l">$40.00</td>
              <td class="uk-text-center"><input class="uk-input shop-input" type="number" placeholder="1"></td>
            </tr>
            <tr>
              <td class="uk-text-center uk-visible@l"><button type="button" data-uk-close></button></td>
              <td>
                <a href="shop-single.html" class="shop-title uk-visible@l"><img src="/demo/shop/cart3.jpg" alt="Alaska Down Feather Jacket" title="Alaska Down Feather Jacket">Alaska Down Feather Jacket</a>
              </td>
              <td class="uk-text-center uk-visible@l">$40.00</td>
              <td class="uk-text-center"><input class="uk-input shop-input" type="number" placeholder="1"></td>
            </tr>
            <tr>
              <td class="uk-text-center uk-visible@l"><button type="button" data-uk-close></button></td>
              <td>
                <a href="shop-single.html" class="shop-title uk-visible@l"><img src="/demo/shop/cart4.jpg" alt="Backpack In Black" title="Backpack In Black">Backpack In Black</a></td>
              <td class="uk-text-center uk-visible@l">$40.00</td>
              <td class="uk-text-center"><input class="uk-input shop-input" type="number" placeholder="1"></td>
            </tr>
            <tr>
              <td class="uk-text-center uk-visible@l"><button type="button" data-uk-close></button></td>
              <td>
                <a href="shop-single.html" class="shop-title uk-visible@l"><img src="/demo/shop/cart5.jpg" alt="Slim Shirt With Stretch In Black" title="Slim Shirt With Stretch In Black">Slim Shirt With Stretch In Black</a>
              </td>
              <td class="uk-text-center uk-visible@l">$40.00</td>
              <td class="uk-text-center"><input class="uk-input shop-input" type="number" placeholder="1"></td>
            </tr>
            <tr>
              <td class="uk-text-center uk-visible@l"><button type="button" data-uk-close></button></td>
              <td>
                <a href="shop-single.html" class="shop-title uk-visible@l"><img src="/demo/shop/cart6.jpg" alt="Alaska Down Feather Jacket" title="Alaska Down Feather Jacket">Alaska Down Feather Jacket</a>
              </td>
              <td class="uk-text-center uk-visible@l">$40.00</td>
              <td class="uk-text-center"><input class="uk-input shop-input" type="number" placeholder="1"></td>
            </tr>
            <tr>
              <td class="uk-text-center uk-visible@l"><button type="button" data-uk-close></button></td>
              <td>
                <a href="shop-single.html" class="shop-title uk-visible@l"><img src="/demo/shop/cart7.jpg" alt="Backpack In Black" title="Backpack In Black">Backpack In Black</a></td>
              <td class="uk-text-center uk-visible@l">$40.00</td>
              <td class="uk-text-center"><input class="uk-input shop-input" type="number" placeholder="1"></td>
            </tr>
            <tr>
              <td class="uk-text-center uk-visible@l"><button type="button" data-uk-close></button></td>
              <td>
                <a href="shop-single.html" class="shop-title uk-visible@l"><img src="/demo/shop/cart8.jpg" alt="Slim Shirt With Stretch In Black" title="Slim Shirt With Stretch In Black">Slim Shirt With Stretch In Black</a>
              </td>
              <td class="uk-text-center uk-visible@l">$40.00</td>
              <td class="uk-text-center"><input class="uk-input shop-input" type="number" placeholder="1"></td>
            </tr>
            <tr>
              <td class="uk-text-center uk-visible@l"><button type="button" data-uk-close></button></td>
              <td><img src="/demo/shop/cart-3.jpg" alt="Alaska Down Feather Jacket" title="Alaska Down Feather Jacket">
                <a href="shop-single.html" class="shop-title uk-visible@l">Alaska Down Feather Jacket</a>
              </td>
              <td class="uk-text-center uk-visible@l">$40.00</td>
              <td class="uk-text-center"><input class="uk-input shop-input" type="number" placeholder="1"></td>
            </tr>
            <tr>
              <td class="uk-text-center uk-visible@l"><button type="button" data-uk-close></button></td>
              <td><img src="/demo/shop/cart-1.jpg" alt="Backpack In Black" title="Backpack In Black">
                <a href="shop-single.html" class="shop-title uk-visible@l">Backpack In Black</a></td>
              <td class="uk-text-center uk-visible@l">$40.00</td>
              <td class="uk-text-center"><input class="uk-input shop-input" type="number" placeholder="1"></td>
            </tr>
            <tr>
              <td class="uk-text-center uk-visible@l"><button type="button" data-uk-close></button></td>
              <td><img src="/demo/shop/cart-2.jpg" alt="Slim Shirt With Stretch In Black" title="Slim Shirt With Stretch In Black">
                <a href="shop-single.html" class="shop-title uk-visible@l">Slim Shirt With Stretch In Black</a>
              </td>
              <td class="uk-text-center uk-visible@l">$40.00</td>
              <td class="uk-text-center"><input class="uk-input shop-input" type="number" placeholder="1"></td>
            </tr>
            <tr>
              <td class="uk-text-center uk-visible@l"><button type="button" data-uk-close></button></td>
              <td><img src="/demo/shop/cart-3.jpg" alt="Alaska Down Feather Jacket" title="Alaska Down Feather Jacket">
                <a href="shop-single.html" class="shop-title uk-visible@l">Alaska Down Feather Jacket</a>
              </td>
              <td class="uk-text-center uk-visible@l">$40.00</td>
              <td class="uk-text-center"><input class="uk-input shop-input" type="number" placeholder="1"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
