<div class="main-container">
  <section class="tw-slider tw-slider-fullscreen uk-light own-cont-cita">
    <div class="owl-carousel owl-theme">
      <div class="slider-item" data-overlay="0.4" style="background-color: #151515; background-image: url(/demo/shop/slider6.jpg); height: 400px;">
        <div class="slider-content"></div>
      </div>
    </div>
  </section>

<!--  -->
<section class="uk-section" style="top:-100px; padding-bottom:0px!important;">
  <div class="uk-container uk-container-xsmall">

    <div class="tw-heading tw-element uk-text-center">
      <h3>Agenda Tu Cita De Taller:</h3>
      <hr style="border-top: 1px solid red;">

  <!-- <div class="uk-child-width-expand" data-uk-grid data-uk-scrollspy="target: > div > .tw-box; cls:uk-animation-slide-bottom; delay: 300;">
    <div class="uk-width-1-2@m uk-width-1-1@s">
      <div class="uk-width-1-1">

      </div>
    </div>
  <div> -->



    <div class="tw-contact-form uk-text-center tw-element" data-uk-scrollspy="target: > form > div; cls:uk-animation-slide-left-small; delay: 350;">

      <form action="https://formspree.io/saraisabelsantacruz@gmail.com" method="POST"  class="uk-grid-small" data-uk-grid style="margin-top:100px;">

        <div class="uk-width-1-1">
          <input id="author" name="Nombre" placeholder="Nombre *" type="text" value="" size="30" aria-required="true" style="height: 30px;">
        </div>

         <div class="uk-width-1-1">
           <input type="text" id="datepicker" name="Fecha cita" placeholder="Seleccionar Fecha" >
        </div>

        <div class="uk-width-1-1 uk-width-1-1@xxs" style="margin-top: 5px;">
          <input style="height: 30px;" id="Telefono" name="phone" placeholder="Teléfono *" type="number" value="" size="20" aria-required="true">
        </div>

        <div class="uk-width-1-1 uk-width-1-1@xxs" style="margin-top: 5px;">
          <input style="height: 30px;" id="Email" name="email" placeholder="Correo Electrónico *" type="email" value="" size="30" aria-required="true">
        </div>

        <div class="uk-width-1-1 uk-width-1-1@xxs" style="margin-top: 5px;">
          <select style="height: 30px;" name="Sede" class="uk-select" placeholder="Sede  *" value="" aria-required="true">
            <option value="33">La 33</option>
            <option value="colores">Los Colores</option>
          </select>
        </div>

        <div class="uk-width-1-1 uk-width-1-1@xxs" style="margin-top: 5px;">
          <input style="height: 30px;" id="Placa" name="placa" placeholder="Placa *" type="text" value="" size="20" aria-required="true">
        </div>

        <div class="uk-width-1-1" style="margin-top: 5px;">
          <select style="height: 30px;" name="Moto" class="uk-select" placeholder="Moto *">
            <option value="Crypton"> Crypton </option>
            <option value="Crypton FL"> Crypton FL </option>
            <option value="Fino"> Fino </option>
            <option value="BWS 125"> BWS 125  </option>
            <option value="BWS X"> BWS X </option>
            <option value="BWS FL"> BWS FL </option>
            <option value="N-Max"> N-Max </option>
            <option value="Tricity"> Tricity </option>
            <option value="Libero"> Libero </option>
            <option value="YBR 125"> YBR 125 </option>
            <option value="SZ -RR"> SZ -RR </option>
            <option value="FF -S"> FF -S </option>
            <option value="Fazer 2.0"> Fazer 2.0 </option>
            <option value="XTZ 125"> XTZ 125 </option>
            <option value="XTZ 250"> XTZ 250 </option>
            <option value="XT 660R"> XT 660R </option>
          </select>
        </div>

        <div class="uk-width-1-1 uk-width-1-1@xxs" style="margin-top: 5px;">
          <select style="height: 30px;" name="Servicio" class="uk-select" placeholder="Tipo De Servicio *" value="" aria-required="true">
            <option value="12 Meses"> 12 Meses</option>
            <option value="24 Meses"> 24 Meses</option>
            <option value="36 Meses"> 36 Meses</option>
            <option value="48 Meses"> 48 Meses</option>
          </select>
        </div>

        <div class="submit uk-width-1-1" style="padding-top: 20px;">
          <input name="submit" type="submit" id="submit" class="submit" value="Quiero una cita">
        </div>
      </form>
    </div>
  </div>
 </div>
</div>
</section>

</div>
