<script id="big-blanco" type="x-handlebars-template">​
  {{#each this}}​
    <div class="item cont-img {{state}}" style="margin: 20px;">
      <img src="{{Big_Blanco}}" alt="">
    </div>
  {{/each}}
</script>

<script id="small-blanco" type="x-handlebars-template">​
  {{#each this}}​
  <li data-target="#carousel-blanco" data-slide-to="{{slide}}" class="active own-list-dot">
    <img src="{{Small_Blanco}}" alt="">
  </li>
{{/each}}
</script>

<script id="big-negro" type="x-handlebars-template">​
{{#each this}}​
  <div class="item cont-img {{state}}" style="margin: 20px;">
    <img src="{{Big_Negro}}" alt="">
  </div>
{{/each}}
</script>

<script id="small-negro" type="x-handlebars-template">​
{{#each this}}​
  <li data-target="#carousel-negro" data-slide-to="{{slide}}" class="active own-list-dot">
    <img src="{{Small_Negro}}" alt="">
  </li>
{{/each}}
</script>

<script id="big-azul" type="x-handlebars-template">​
{{#each this}}​
  <div class="item cont-img {{state}}" style="margin: 20px;">
    <img src="{{Big_Azul}}" alt="">
  </div>
{{/each}}
</script>

<script id="small-azul" type="x-handlebars-template">​
{{#each this}}​
  <li data-target="#carousel-azul" data-slide-to="{{slide}}" class="active own-list-dot">
    <img src="{{Small_Azul}}" alt="">
  </li>
{{/each}}
</script>

<script id="big-verde" type="x-handlebars-template">​
{{#each this}}​
  <div class="item cont-img {{state}}" style="margin: 20px;">
    <img src="{{Big_Verde}}" alt="">
  </div>
{{/each}}
</script>

<script id="small-verde" type="x-handlebars-template">​
{{#each this}}​
  <li data-target="#carousel-verde" data-slide-to="{{slide}}" class="active own-list-dot">
    <img src="{{Small_Verde}}" alt="">
  </li>
{{/each}}
</script>

<script id="big-rojo" type="x-handlebars-template">​
{{#each this}}​
  <div class="item cont-img {{state}}" style="margin: 20px;">
    <img src="{{Big_Rojo}}" alt="">
  </div>
{{/each}}
</script>

<script id="small-rojo" type="x-handlebars-template">​
{{#each this}}​
  <li data-target="#carousel-rojo" data-slide-to="{{slide}}" class="active own-list-dot">
    <img src="{{Small_Rojo}}" alt="">
  </li>
{{/each}}
</script>

<script id="name-template" type="x-handlebars-template">​
{{#each this}}​
  <h1 style="color: #d83a3a;" class="shop-title uk-margin-bottom">{{name}}</h1>
{{/each}}
</script>

<script id=color-template type="x-handlebars-template">
{{#each this}}
  <p class="{{color}}" id="{{color}}">{{NomColor}}</p>
{{/each}}
</script>

<div class="">
<section class="tw-slider tw-slider-fullscreen uk-light" style=" height:170px; background: #404040;"></section>

<section class="uk-section uk-section-shop" style="padding-bottom:0px!important;">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="addName"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width:100%; margin:0 auto;">
          <div class="carousel-inner big-blanco" role="listbox">
            <!-- Handlebars -->
          </div>
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="height: 80%;">
            <i class="fa fa-long-arrow-left" aria-hidden="true" style="position: absolute; top: 50%; color: #ce0e0e; font-size: 40px;"></i>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="height: 80%;">
            <i class="fa fa-long-arrow-right" aria-hidden="true" style="position: absolute; top: 50%; color: #ce0e0e; font-size: 40px;"></i>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="entry-shop uk-margin-medium-bottom">
          <div style="color: #000; font-size:33px; margin:20px 0px;" class="shop-price">Especificaciones Técnicas Generales</div>
          <ul class="own-list" style="font-size:20px;">
            <li style="margin: 10px 0px;">Cilindraje: 124 cc</li>
            <li style="margin: 10px 0px;">Peso (Con aceite y tanque de gasolina lleno): 118 kg</li>
            <li style="margin: 10px 0px;">Tipo de motor:4 Tiempos SOHC, refrigerado por aire</li>
            <li style="margin: 10px 0px;">Arranque: Eléctrico y a pedal</li>
            <li style="margin: 10px 0px;">Encendido: CDI</li>
            <li style="margin: 10px 0px;">Ruedas delantera: 80/90-21MC 48P</li>
            <li style="margin: 10px 0px;">Ruedas trasera: 110/80-18M/C 58P</li>
            <li style="margin: 10px 0px;">Freno delantero - trasero: Disco- Tambor</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" style="width: 80%; margin: auto; padding: 27px 0px; border-top:1px solid red; border-bottom:1px solid red;">
      <div class="col-xs-12 col-sm-6">
        <p style="font-size: 22px; color: grey; margin-bottom: 0px;">Modelo 2018</p>
        <div class="" style="display:inline-block;">
          <h1 style="float:left; margin:0px;">$6.290.000</h1>
          <h4 style="float: right; margin: 17px 0px; font-size: 18px; color: grey;">/ IVA incluido</h4>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p style="font-size: 22px; color: grey; margin-bottom: 0px;">Con tarjeta de crédito Yamaha*</p>
        <div class="" style="display:inline-block;">
          <h1 style="float:left; margin:0px;">$6.124.200</h1>
          <h4 style="float: right; margin: 17px 0px; font-size: 18px; color: grey;">/ IVA incluido</h4>
        </div>
      </div>
      <div class="col-xs-12">
        <p>Precio sujeto a modicaciones sin previo aviso. *El descuento de la tarjeta de crédito Yamaha será del 2% y se aplicará sobre el valor pagado únicamente con la tarjeta de crédito, excluyendo valores en efectivo o con otros medios de pago.
        </p>
      </div>
    </div>
    <div class="" style="width: 80%; margin: auto;">
      <span class="socialShare"></span>
    </div>
  </div>
</section>

<div class="" style="position: relative; top: -30px; background: #000; padding-bottom: 20px; padding:30px;">

  <div class="" style="margin: 0px 30px;">
    <h1 style="margin: 0px 80px; color: #fff; position: relative; top: 50px;">Galería</h1>
  </div>

  <div id="carousel-blanco" class="carousel slide" data-ride="carousel" style="width:50%; margin:0 auto;">
    <div class="carousel-inner big-blanco" role="listbox"></div>
    <a class="left carousel-control" href="#carousel-blanco" role="button" data-slide="prev" style="top: 20%;">
      <i class="fa fa-long-arrow-left" aria-hidden="true" style="position: absolute; top: 50%; color: #ce0e0e; font-size: 40px;"></i>
    </a>
    <a class="right carousel-control" href="#carousel-blanco" role="button" data-slide="next" style="top: 20%;">
      <i class="fa fa-long-arrow-right" aria-hidden="true" style="position: absolute; top: 50%; color: #ce0e0e; font-size: 40px;"></i>
    </a>
  </div>

  <div id="carousel-negro" class="carousel slide" data-ride="carousel" style="width:50%; margin:0 auto;">
    <div class="carousel-inner big-negro" role="listbox"></div>
    <a class="left carousel-control" href="#carousel-negro" role="button" data-slide="prev" style="top: 20%;">
      <i class="fa fa-long-arrow-left" aria-hidden="true" style="position: absolute; top: 50%; color: #ce0e0e; font-size: 40px;"></i>
    </a>
    <a class="right carousel-control" href="#carousel-negro" role="button" data-slide="next" style="top: 20%;">
      <i class="fa fa-long-arrow-right" aria-hidden="true" style="position: absolute; top: 50%; color: #ce0e0e; font-size: 40px;"></i>
    </a>
  </div>

  <div id="carousel-azul" class="carousel slide" data-ride="carousel" style="width:50%; margin:0 auto;">
    <div class="carousel-inner big-azul" role="listbox"></div>
    <a class="left carousel-control" href="#carousel-azul" role="button" data-slide="prev" style="top: 20%;">
      <i class="fa fa-long-arrow-left" aria-hidden="true" style="position: absolute; top: 50%; color: #ce0e0e; font-size: 40px;"></i>
    </a>
    <a class="right carousel-control" href="#carousel-azul" role="button" data-slide="next" style="top: 20%;">
      <i class="fa fa-long-arrow-right" aria-hidden="true" style="position: absolute; top: 50%; color: #ce0e0e; font-size: 40px;"></i>
    </a>
  </div>

  <div id="carousel-verde" class="carousel slide" data-ride="carousel" style="width:50%; margin:0 auto;">
    <div class="carousel-inner big-verde" role="listbox"></div>
    <a class="left carousel-control" href="#carousel-verde" role="button" data-slide="prev" style="top: 20%;">
      <i class="fa fa-long-arrow-left" aria-hidden="true" style="position: absolute; top: 50%; color: #ce0e0e; font-size: 40px;"></i>
    </a>
    <a class="right carousel-control" href="#carousel-verde" role="button" data-slide="next" style="top: 20%;">
      <i class="fa fa-long-arrow-right" aria-hidden="true" style="position: absolute; top: 50%; color: #ce0e0e; font-size: 40px;"></i>
    </a>
  </div>

  <div id="carousel-rojo" class="carousel slide" data-ride="carousel" style="width:50%; margin:0 auto;">
    <div class="carousel-inner big-rojo" role="listbox"></div>
    <a class="left carousel-control" href="#carousel-rojo" role="button" data-slide="prev" style="top: 20%;">
      <i class="fa fa-long-arrow-left" aria-hidden="true" style="position: absolute; top: 50%; color: #ce0e0e; font-size: 40px;"></i>
    </a>
    <a class="right carousel-control" href="#carousel-rojo" role="button" data-slide="next" style="top: 20%;">
      <i class="fa fa-long-arrow-right" aria-hidden="true" style="position: absolute; top: 50%; color: #ce0e0e; font-size: 40px;"></i>
    </a>
  </div>

  <div id="selector" class="selec-color addColor" style=" width: 50%; height:3px; border-top: 1px solid white; margin:20px auto; padding: 8px 0px; display: flex;">

  </div>

  <ol class="carousel-indicators small-blanco hidden-xs hidden-sm" style="position: relative; width: 100%; margin: auto; left: 0%; bottom:0px;"></ol>
  <ol class="carousel-indicators small-negro hidden-xs hidden-sm" style="position: relative; width: 100%; margin: auto; left: 0%; bottom:0px;"></ol>
  <ol class="carousel-indicators small-azul hidden-xs hidden-sm" style="position: relative; width: 100%; margin: auto; left: 0%; bottom:0px;"></ol>
  <ol class="carousel-indicators small-verde hidden-xs hidden-sm" style="position: relative; width: 100%; margin: auto; left: 0%; bottom:0px;"></ol>
  <ol class="carousel-indicators small-rojo hidden-xs hidden-sm" style="position: relative; width: 100%; margin: auto; left: 0%; bottom:0px;"></ol>
</div>

<div class="container own-cont" style="padding-right: 65px;
    padding-left: 65px;">

  <div class="text">
    <h1>¿Quieres adquirirla?</h1>
    <p style="font-size: 20px;
    padding: 10px; color:grey;">Envíanos tus datos y recibe una completa asesoría sobre la Yamaha de tus sueños y el proceso de compra</p>
  </div>

  <div class="tw-contact-form tw-element uk-text-center" style="border-top:1px solid red;">
    <form action="https://formspree.io/saraisabelsantacruz@gmail.com" method="POST" class="tw-form-style-3 uk-grid-small" data-uk-grid data-uk-scrollspy="target: > div; cls:uk-animation-scale-up; delay: 350;">

      <input  id="moto_a_cotizar" name="moto_interesado" type="hidden" value="" size="20" aria-required="true">

      <div class="uk-width-1-1">
        <input id="author" name="nombre_interesado" placeholder="Nombre *" type="text" value="" size="30" aria-required="true">
      </div>
      <div class="uk-width-1-2 uk-width-1-1@xxs">
        <input id="email" name="email_interesado" placeholder="Correo Electrónico *" type="text" value="" size="30" aria-required="true">
      </div>
      <div class="uk-width-1-2 uk-width-1-1@xxs">
        <input id="phone" name="telefono_interesado" placeholder="Teléfono *" type="number" value="" size="20" aria-required="true">
      </div>
      <div class="uk-width-1-2 uk-width-1-1@xxs">
        <input id="ciudad" name="ciudad_interesado" placeholder="Ciudad *" type="text" value="" size="20" aria-required="true">
      </div>
      <div class="uk-width-1-2 uk-width-1-1@xxs">
        <input id="departamento" name="departamento_interesado" placeholder="Departamento *" type="text" value="" size="20" aria-required="true">
      </div>

        

      <div class="submit uk-width-1-1" style="padding-top: 20px;">
        <input
          name="submit"
          type="submit"
          id="submit"
          class="submit own-submit"
          value="¡La quiero comprar!"
          style="border-radius: 0px; float: left;
          padding: 0px 5px;
          width: 18%;
          height: 57px;
          font-weight: 900;
          margin: 20px;
          border: none;
          font-size: 11px;
          background: #0063A3;">
      </div>
    </form>
  </div>
</div>

<div class="uk-container own-container-carousel">
  <div class="tw-element tw-heading uk-text-center">
    <h3>Productos Destacados</h3>
  </div>

  <!-- ******************** Carousel ***************************** -->
  <div class="tw-element tw-carousel-shop">
    <div class="owl-carousel owl-theme" data-uk-scrollspy="target:.shop-item; cls:uk-animation-slide-bottom-medium; delay: 350;">

      <div class="shop-item">
        <div class="shop-content">
          <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
            <img alt="Backpack In Black" src="/demo/shop/product1.jpg">
            <div class="uk-position-bottom">
              <a href="/detalle" class="add-to-cart">Ver Detalle</a>
            </div>
          </div>
          <h4>
            <a href="shop-single.html" class="shop-title">Backpack In Black</a>
          </h4>
          <a class="shop-category">Accessories</a>
          <div class="price">
            <span class="old-price">$26.00</span>
            <span class="new-price">$28.00</span>
          </div>
        </div>
      </div>

      <div class="shop-item">
        <div class="shop-content">
          <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
            <img alt="Backpack In Black" src="/demo/shop/product2.jpg">
            <div class="uk-position-bottom">
              <a href="/detalle" class="add-to-cart">Ver Detalle</a>
            </div>
          </div>
          <h4>
            <a href="shop-single.html" class="shop-title">BOSS Orange T-Shirt</a>
          </h4>
          <a class="shop-category">Clothing, Man</a>
          <div class="price">
            <span class="new-price">$40.00</span>
          </div>
        </div>
      </div>

      <div class="shop-item">
        <div class="shop-content">
          <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
            <img alt="Backpack In Black" src="/demo/shop/product3.jpg">
            <div class="uk-position-bottom">
              <a href="/detalle" class="add-to-cart">Ver Detalle</a>
            </div>
          </div>
          <h4>
            <a href="shop-single.html" class="shop-title">Military Backpack</a>
          </h4>
          <a class="shop-category">Accessories</a>
          <div class="price">
            <span class="new-price">$36.00</span>
          </div>
        </div>
      </div>

      <div class="shop-item">
        <div class="shop-content">
          <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
            <img alt="Backpack In Black" src="/demo/shop/product4.jpg">
            <div class="uk-position-bottom">
              <a href="/detalle" class="add-to-cart">Ver Detalle</a>
            </div>
          </div>
          <h4>
            <a href="shop-single.html" class="shop-title">Industry T-Shirt</a>
          </h4>
          <a class="shop-category">Clothing, Man</a>
          <div class="price">
            <span class="old-price">$30.00</span>
          </div>
        </div>
      </div>

      <div class="shop-item">
        <div class="shop-content">
          <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
            <img alt="Backpack In Black" src="/demo/shop/product1.jpg">
            <div class="uk-position-bottom">
              <a href="/detalle" class="add-to-cart">Ver Detalle</a>
            </div>
          </div>
          <h4>
            <a href="shop-single.html" class="shop-title">Backpack In Black</a>
          </h4>
          <a class="shop-category">Accessories</a>
          <div class="price">
            <span class="old-price">$25.00</span>
            <span class="new-price">$16.00</span>
          </div>
        </div>
      </div>

      <div class="shop-item">
        <div class="shop-content">
          <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
            <img alt="Backpack In Black" src="/demo/shop/product2.jpg">
            <div class="uk-position-bottom">
              <a href="/detalle" class="add-to-cart">Ver Detalle</a>
            </div>
          </div>
          <h4>
            <a href="shop-single.html" class="shop-title">Backpack In Black</a>
          </h4>
          <a class="shop-category">Accessories</a>
          <div class="price">
            <span class="old-price">$25.00</span>
            <span class="new-price">$16.00</span>
          </div>
        </div>
      </div>

      <div class="shop-item">
        <div class="shop-content">
          <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
            <img alt="Backpack In Black" src="/demo/shop/product3.jpg">
            <div class="uk-position-bottom">
              <a href="/detalle" class="add-to-cart">Ver Detalle</a>
            </div>
          </div>
          <h4>
            <a href="shop-single.html" class="shop-title">Backpack In Black</a>
          </h4>
          <a class="shop-category">Accessories</a>
          <div class="price">
            <span class="old-price">$25.00</span>
            <span class="new-price">$16.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%=javascript_include_tag "detalle"%>


<script>
  var currentURL = (document.URL); // returns http://myplace.com/abcd
  var part = currentURL.split("?")[1];
  $('#moto_a_cotizar').val(part);
</script>