<%= stylesheet_link_tag 'bootstrap.min'%>

<script id="small-template" type="x-handlebars-template">​
  {{#each this}}​
    <img src="{{urlSmall}}" alt="">
  {{/each}}  ​
</script>

<script id="big-template" type="x-handlebars-template">​
  {{#each this}}​
    <img src="{{urlBig}}" alt="">
  {{/each}}
</script>

<script id="name-template" type="x-handlebars-template">​
  {{#each this}}​
    <h1 style="color: #d83a3a;" class="shop-title uk-margin-bottom">{{name}}</h1>
  {{/each}}
</script>

<div class="">
  <section class="tw-slider tw-slider-fullscreen uk-light" style=" height:152px; background: #404040;"></section>

  <section class="uk-section uk-section-shop" style="padding-bottom:0px!important;">
    <div class="container">

      <div class="uk-grid-collapse" data-uk-grid>
        <div class="uk-width-single image-slide-area">
          <div class="addSmall thumbs owl-carousel owl-theme"></div>
        </div>
        <div class="uk-width-expand">
          <div class="addBig uk-margin-left big-images onhover owl-carousel owl-theme" style="box-shadow: 2px 2px 12px rgba(128, 128, 128, 0.51);" id="big"></div>
        </div>
      </div>

      <div class="row" style="margin: 30px;">
        <div class="col-xs-6">
          <div class="entry-shop uk-margin-medium-bottom">
            <div class="addName">

            </div>
            <div style="color: rgba(216, 58, 58, 0.72); font-size:40px;" class="shop-price">Precio</div>
            <p class="uk-margin-medium-bottom">
              Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos mauris in erat justo nullam ac sed odio sit amet tincidunt auctor ornare odio sed non mauris urna felis dapibus condimentum sit amet augue sed non. Eque elit
              sed ut imperdiet velit nam nec tellus tincidunt auctor ornare odio sed nonero fermentu feugiat velit mauris egestas quam ut aliquam massa nisl quis neque.
            </p>
          </div>
        </div>
        <div class="col-xs-6" style="margin-top: 100px;">
          <a href="shop-cart.html" class="uk-button uk-button-default uk-margin-left tw-hover" style="border-color: transparent; background: #d83a3a; color: #fff; margin-left: 0px!important;">
            <span class="tw-hover-inner">
              <span>Ficha Técnica</span>
              <i class="ion-ios-arrow-thin-right"></i>
            </span>
          </a>
          <hr>
          <div class="shop-meta uk-grid-xsmall uk-margin-medium-bottom" data-uk-grid>
            <div class="uk-width-1-2 uk-width-1-5@s">
              <span class="meta-head uk-text-uppercase">Sku</span>
            </div>
            <div class="uk-width-1-2 uk-width-4-5@s">
              <div class="meta-content">036958</div>
            </div>
            <div class="uk-width-1-2 uk-width-1-5@s">
              <span class="meta-head uk-text-uppercase">Categoria</span>
            </div>
            <div class="uk-width-1-2 uk-width-4-5@s">
              <div class="meta-content">Categoría, Moto</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="uk-container own-container-carousel">
      <div class="tw-element tw-heading uk-text-center">
        <h3>Productos Destacados</h3>
      </div>

      <!-- ******************** Carousel ***************************** -->
      <div class="tw-element tw-carousel-shop">
        <div class="owl-carousel owl-theme" data-uk-scrollspy="target:.shop-item; cls:uk-animation-slide-bottom-medium; delay: 350;">

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product1.jpg">
                <div class="uk-position-bottom">
                  <a href="/detalle" class="add-to-cart">Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">Backpack In Black</a>
              </h4>
              <a class="shop-category">Accessories</a>
              <div class="price">
                <span class="old-price">$26.00</span>
                <span class="new-price">$28.00</span>
              </div>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product2.jpg">
                <div class="uk-position-bottom">
                  <a href="/detalle" class="add-to-cart">Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">BOSS Orange T-Shirt</a>
              </h4>
              <a class="shop-category">Clothing, Man</a>
              <div class="price">
                <span class="new-price">$40.00</span>
              </div>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product3.jpg">
                <div class="uk-position-bottom">
                  <a href="/detalle" class="add-to-cart">Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">Military Backpack</a>
              </h4>
              <a class="shop-category">Accessories</a>
              <div class="price">
                <span class="new-price">$36.00</span>
              </div>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product4.jpg">
                <div class="uk-position-bottom">
                  <a href="/detalle" class="add-to-cart">Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">Industry T-Shirt</a>
              </h4>
              <a class="shop-category">Clothing, Man</a>
              <div class="price">
                <span class="old-price">$30.00</span>
              </div>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product1.jpg">
                <div class="uk-position-bottom">
                  <a href="/detalle" class="add-to-cart">Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">Backpack In Black</a>
              </h4>
              <a class="shop-category">Accessories</a>
              <div class="price">
                <span class="old-price">$25.00</span>
                <span class="new-price">$16.00</span>
              </div>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product2.jpg">
                <div class="uk-position-bottom">
                  <a href="/detalle" class="add-to-cart">Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">Backpack In Black</a>
              </h4>
              <a class="shop-category">Accessories</a>
              <div class="price">
                <span class="old-price">$25.00</span>
                <span class="new-price">$16.00</span>
              </div>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product3.jpg">
                <div class="uk-position-bottom">
                  <a href="/detalle" class="add-to-cart">Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">Backpack In Black</a>
              </h4>
              <a class="shop-category">Accessories</a>
              <div class="price">
                <span class="old-price">$25.00</span>
                <span class="new-price">$16.00</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
<%=javascript_include_tag "detalle"%>
<%=javascript_include_tag "bootstrap.min"%>
