<!-- <script id="big-template" type="x-handlebars-template">​
  {{#each this}}​
    <div class="item cont-img {{state}}" style="margin: 20px;">
      <img src="{{urlBig}}" alt="">
    </div>
  {{/each}}
</script>

<script id="small-template" type="x-handlebars-template">​
  {{#each this}}​
    <li data-target="#carousel-sara" data-slide-to="{{slide}}" class="active own-list-dot">
      <img src="{{urlSmall}}" alt="">
    </li>
  {{/each}}
</script>

<script id="big" type="x-handlebars-template">​
  {{#each this}}​
    <div class="item cont-img {{state}}" style="margin: 20px;">
      <img src="{{Big}}" alt="">
    </div>
  {{/each}}
</script>

<script id="small" type="x-handlebars-template">​
  {{#each this}}​
    <li data-target="#carousel-sara-two" data-slide-to="{{slide}}" class="active own-list-dot">
      <img src="{{Small}}" alt="">
    </li>
  {{/each}}
</script>

<script id="bigBlack" type="x-handlebars-template">​
  {{#each this}}​
    <div class="item cont-img {{state}}" style="margin: 20px;">
      <img src="{{Big}}" alt="">
    </div>
  {{/each}}
</script>

<script id="smallBlack" type="x-handlebars-template">​
  {{#each this}}​
    <li data-target="#carousel-sara-black" data-slide-to="{{slide}}" class="active own-list-dot">
      <img src="{{Small}}" alt="">
    </li>
  {{/each}}
</script>

<script id="name-template" type="x-handlebars-template">​
  {{#each this}}​
    <h1 style="color: #d83a3a;" class="shop-title uk-margin-bottom">{{name}}</h1>
  {{/each}}
</script> -->

<div class="">
  <section class="tw-slider tw-slider-fullscreen uk-light" style=" height:170px; background: #404040;"></section>

<section class="uk-section uk-section-shop" style="padding-bottom:0px!important;">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="addName">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width:430px; margin:0 auto;">
            <div class="carousel-inner addBig" role="listbox">
              <div class="item cont-img active" style="margin: 20px;">
                <img src="/images/Fotos_Cascos/casco1.png" alt="">
              </div>
              <div class="item cont-img" style="margin: 20px;">
                <img src="/images/Fotos_Cascos/casco1.png" alt="">
              </div>
              <div class="item cont-img" style="margin: 20px;">
                <img src="/images/Fotos_Cascos/casco1.png" alt="">
              </div>
            </div>
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="height: 80%;">
                <i class="fa fa-long-arrow-left" aria-hidden="true" style="position: absolute; top: 50%; color: #ce0e0e; font-size: 40px;"></i>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="height: 80%;">
                <i class="fa fa-long-arrow-right" aria-hidden="true" style="position: absolute; top: 50%; color: #ce0e0e; font-size: 40px;"></i>
              </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="entry-shop uk-margin-medium-bottom">
            <div style="color: #000; font-size:33px; margin:20px 0px;" class="shop-price">Especificaciones Técnicas Generales</div>
            <ul class="own-list" style="font-size:20px;">
              <li style="margin: 10px 0px;">Cilindraje: 124 cc</li>
              <li style="margin: 10px 0px;">Peso (Con aceite y tanque de gasolina lleno): 118 kg</li>
              <li style="margin: 10px 0px;">Tipo de motor:4 Tiempos SOHC, refrigerado por aire</li>
              <li style="margin: 10px 0px;">Arranque: Eléctrico y a pedal</li>
              <li style="margin: 10px 0px;">Encendido: CDI</li>
              <li style="margin: 10px 0px;">Ruedas delantera: 80/90-21MC 48P</li>
              <li style="margin: 10px 0px;">Ruedas trasera: 110/80-18M/C 58P</li>
              <li style="margin: 10px 0px;">Freno delantero - trasero: Disco- Tambor</li>
            </ul>
          </div>
        </div>
    </div>
    <div class="row" style="width: 80%; margin: auto; padding: 27px 0px; border-top:1px solid red; border-bottom:1px solid red;">
      <div class="col-xs-12 col-sm-6">
        <p style="font-size: 22px; color: grey; margin-bottom: 0px;">Modelo 2018</p>
        <div class="" style="display:inline-block;">
          <h1 style="float:left; margin:0px;">$6.290.000</h1><h4 style="float: right; margin: 17px 0px; font-size: 18px; color: grey;">/ IVA incluido</h4>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p style="font-size: 22px; color: grey; margin-bottom: 0px;">Con tarjeta de crédito Yamaha*</p>
        <div class="" style="display:inline-block;">
          <h1 style="float:left; margin:0px;">$6.124.200</h1><h4 style="float: right; margin: 17px 0px; font-size: 18px; color: grey;">/ IVA incluido</h4>
        </div>
      </div>
      <div class="col-xs-12">
        <p>Precio sujeto a modicaciones sin previo aviso. *El descuento de la
          tarjeta de crédito Yamaha será del 2% y se aplicará sobre el valor pagado
          únicamente con la tarjeta de crédito, excluyendo
          valores en efectivo o con otros medios de pago. </p>
      </div>
    </div>
    <div class="" style="width: 80%; margin: auto;">
      <span class="socialShare"></span>
    </div>
  </div>
  </section>

  <div class="uk-container own-container-carousel">
    <div class="tw-element tw-heading uk-text-center">
      <h3>Productos Destacados</h3>
    </div>

    <!-- ******************** Carousel ***************************** -->
    <div class="tw-element tw-carousel-shop">
      <div class="owl-carousel owl-theme" data-uk-scrollspy="target:.shop-item; cls:uk-animation-slide-bottom-medium; delay: 350;">

        <div class="shop-item">
          <div class="shop-content">
            <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
              <img alt="Backpack In Black" src="/images/Fotos_Cascos/casco1.png">
              <div class="uk-position-bottom">
                <a href="/detalle" class="add-to-cart">Ver Detalle</a>
              </div>
            </div>
            <h4>
              <a href="shop-single.html" class="shop-title">Backpack In Black</a>
            </h4>
            <a class="shop-category">Accessories</a>
            <div class="price">
              <span class="old-price">$26.00</span>
              <span class="new-price">$28.00</span>
            </div>
          </div>
        </div>

        <div class="shop-item">
          <div class="shop-content">
            <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
              <img alt="Backpack In Black" src="/images/Fotos_Cascos/casco1.png">
              <div class="uk-position-bottom">
                <a href="/detalle" class="add-to-cart">Ver Detalle</a>
              </div>
            </div>
            <h4>
              <a href="shop-single.html" class="shop-title">BOSS Orange T-Shirt</a>
            </h4>
            <a class="shop-category">Clothing, Man</a>
            <div class="price">
              <span class="new-price">$40.00</span>
            </div>
          </div>
        </div>

        <div class="shop-item">
          <div class="shop-content">
            <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
              <img alt="Backpack In Black" src="/images/Fotos_Cascos/casco1.png">
              <div class="uk-position-bottom">
                <a href="/detalle" class="add-to-cart">Ver Detalle</a>
              </div>
            </div>
            <h4>
              <a href="shop-single.html" class="shop-title">Military Backpack</a>
            </h4>
            <a class="shop-category">Accessories</a>
            <div class="price">
              <span class="new-price">$36.00</span>
            </div>
          </div>
        </div>

        <div class="shop-item">
          <div class="shop-content">
            <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
              <img alt="Backpack In Black" src="/images/Fotos_Cascos/casco1.png">
              <div class="uk-position-bottom">
                <a href="/detalle" class="add-to-cart">Ver Detalle</a>
              </div>
            </div>
            <h4>
              <a href="shop-single.html" class="shop-title">Industry T-Shirt</a>
            </h4>
            <a class="shop-category">Clothing, Man</a>
            <div class="price">
              <span class="old-price">$30.00</span>
            </div>
          </div>
        </div>

        <div class="shop-item">
          <div class="shop-content">
            <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
              <img alt="Backpack In Black" src="/images/Fotos_Cascos/casco1.png">
              <div class="uk-position-bottom">
                <a href="/detalle" class="add-to-cart">Ver Detalle</a>
              </div>
            </div>
            <h4>
              <a href="shop-single.html" class="shop-title">Backpack In Black</a>
            </h4>
            <a class="shop-category">Accessories</a>
            <div class="price">
              <span class="old-price">$25.00</span>
              <span class="new-price">$16.00</span>
            </div>
          </div>
        </div>

        <div class="shop-item">
          <div class="shop-content">
            <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
              <img alt="Backpack In Black" src="/images/Fotos_Cascos/casco1.png">
              <div class="uk-position-bottom">
                <a href="/detalle" class="add-to-cart">Ver Detalle</a>
              </div>
            </div>
            <h4>
              <a href="shop-single.html" class="shop-title">Backpack In Black</a>
            </h4>
            <a class="shop-category">Accessories</a>
            <div class="price">
              <span class="old-price">$25.00</span>
              <span class="new-price">$16.00</span>
            </div>
          </div>
        </div>

        <div class="shop-item">
          <div class="shop-content">
            <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
              <img alt="Backpack In Black" src="/images/Fotos_Cascos/casco1.png">
              <div class="uk-position-bottom">
                <a href="/detalle" class="add-to-cart">Ver Detalle</a>
              </div>
            </div>
            <h4>
              <a href="shop-single.html" class="shop-title">Backpack In Black</a>
            </h4>
            <a class="shop-category">Accessories</a>
            <div class="price">
              <span class="old-price">$25.00</span>
              <span class="new-price">$16.00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%=javascript_include_tag "detalle"%>
