
<div class="main-container">
  <section class="tw-slider tw-slider-fullscreen uk-light own-container-slide">
    <div class="owl-carousel owl-theme">
      <div class="slider-item" data-overlay="0.4" style="background-color: #151515; background-image: url(/demo/shop/slider5.jpg);">
        <div class="slider-content"></div>
      </div>
    </div>
  </section>

  <section class="uk-section">

    <div class="uk-container uk-container-xsmall">
      <div class="tw-heading tw-element uk-text-center">
        <h3>Financia tu Yamaha:</h3>
        <hr style="border-top: 1px solid red;">
        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos mauris erat justo condimentum sit amet augue.</p>
      </div>
      <div class="tw-contact-form uk-text-center tw-element" data-uk-scrollspy="target: > form > div; cls:uk-animation-slide-left-small; delay: 350;">

        <form action="https://formspree.io/saraisabelsantacruz@gmail.com" method="POST" class="uk-grid-small" data-uk-grid>
          <div class="uk-width-1-1">
            <input id="author" name="Nombre" placeholder="Nombre *" type="text" value="" size="30" aria-required="true">
          </div>
          <div class="uk-width-1-2 uk-width-1-1@xxs">
            <input id="email" name="Email" placeholder="Correo Electrónico *" type="text" value="" size="30" aria-required="true">
          </div>
          <div class="uk-width-1-2 uk-width-1-1@xxs">
            <input id="phone" name="Telefono" placeholder="Teléfono *" type="number" value="" size="20" aria-required="true">
          </div>
          <div class="uk-width-1-2 uk-width-1-1@xxs">
            <input id="ciudad" name="Ciudad" placeholder="Ciudad *" type="text" value="" size="20" aria-required="true">
          </div>
          <div class="uk-width-1-2 uk-width-1-1@xxs">
            <input id="departamento" name="Departamento" placeholder="Departamento *" type="text" value="" size="20" aria-required="true">
          </div>

          <div class="uk-width-1-1">
            <select name="Moto a financiar" class="uk-select" placeholder="Departamento *">
              <option value="Crypton"> Crypton </option>
              <option value="Crypton FL"> Crypton FL </option>
              <option value="Fino"> Fino </option>
              <option value="BWS 125"> BWS 125  </option>
              <option value="BWS X"> BWS X </option>
              <option value="BWS FL"> BWS FL </option>
              <option value="N-Max"> N-Max </option>
              <option value="Tricity"> Tricity </option>
              <option value="Libero"> Libero </option>
              <option value="YBR 125"> YBR 125 </option>
              <option value="SZ -RR"> SZ -RR </option>
              <option value="FF -S"> FF -S </option>
              <option value="Fazer 2.0"> Fazer 2.0 </option>
              <option value="XTZ 125"> XTZ 125 </option>
              <option value="XTZ 250"> XTZ 250 </option>
              <option value="XT 660R"> XT 660R </option>
            </select>
          </div>

          <div class="uk-width-1-2 uk-width-1-1@xxs">
            <input id="cuota" name="Cuota inicial" placeholder="Cuota Inicial *" type="number" value="" size="20" aria-required="true">
          </div>

          <div class="uk-width-1-2 uk-width-1-1@xxs">
            <select name="Plazo" placeholder="Plazo (Meses) *" value="" aria-required="true">
              <option value="12 Meses"> 12 Meses</option>
              <option value="24 Meses"> 24 Meses</option>
              <option value="36 Meses"> 36 Meses</option>
              <option value="48 Meses"> 48 Meses</option>
            </select>
          </div>

          <div class="submit uk-width-1-1" style="padding-top: 20px;">
            <input name="submit" type="submit" id="submit" class="submit" value="Enviar" value="¡La quiero financiar!">
          </div>
        </form>
      </div>
    </div>
  </section>

  <section class="uk-section">
    <div class="uk-container">
      <div class="tw-element tw-heading uk-text-center">
        <h3>Productos Destacados</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <!-- ******************** Carousel ***************************** -->
      <div class="tw-element tw-carousel-shop own-container-carousel">
        <div class="owl-carousel owl-theme" data-uk-scrollspy="target:.shop-item; cls:uk-animation-slide-bottom-medium; delay: 350;">

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product1.jpg">
                <div class="uk-position-bottom">
                  <a href="/catal1" class="add-to-cart auto1"></i>Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">Backpack In Black</a>
              </h4>
              <a href="/catal1" class="add-to-cart auto1"></i>Ver Detalle</a>
              <div class="price">
                <span class="old-price">$26.00</span>
                <span class="new-price">$28.00</span>
              </div>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product2.jpg">
                <div class="uk-position-bottom">
                  <a href="/catal1" class="add-to-cart auto1"></i>Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">BOSS Orange T-Shirt</a>
              </h4>
              <a class="shop-category">Clothing, Man</a>
              <div class="price">
                <span class="new-price">$40.00</span>
              </div>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product3.jpg">
                <div class="uk-position-bottom">
                  <a href="/catal1" class="add-to-cart auto1"></i>Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">Military Backpack</a>
              </h4>
              <a class="shop-category">Accessories</a>
              <div class="price">
                <span class="new-price">$36.00</span>
              </div>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product4.jpg">
                <div class="uk-position-bottom">
                  <a href="/catal1" class="add-to-cart auto1"></i>Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">Industry T-Shirt</a>
              </h4>
              <a class="shop-category">Clothing, Man</a>
              <div class="price">
                <span class="old-price">$30.00</span>
              </div>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product1.jpg">
                <div class="uk-position-bottom">
                  <a href="/catal1" class="add-to-cart auto1"></i>Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">Backpack In Black</a>
              </h4>
              <a class="shop-category">Accessories</a>
              <div class="price">
                <span class="old-price">$25.00</span>
                <span class="new-price">$16.00</span>
              </div>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product2.jpg">
                <div class="uk-position-bottom">
                  <a href="/catal1" class="add-to-cart auto1"></i>Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">Backpack In Black</a>
              </h4>
              <a class="shop-category">Accessories</a>
              <div class="price">
                <span class="old-price">$25.00</span>
                <span class="new-price">$16.00</span>
              </div>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product3.jpg">
                <div class="uk-position-bottom">
                  <a href="/catal1" class="add-to-cart auto1"></i>Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">Backpack In Black</a>
              </h4>
              <a class="shop-category">Accessories</a>
              <div class="price">
                <span class="old-price">$25.00</span>
                <span class="new-price">$16.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
