<!-- .main-container close  -->
<div class="main-container">
  <section class="tw-slider tw-slider-fullscreen uk-light own-container-slide">
    <div class="owl-carousel owl-theme">
      <div class="slider-item" data-overlay="0.4" style="background-color: #151515; background-image: url(/demo/shop/slider1.jpg);">
        <div class="slider-content">
          <div class="tw-element uk-text-center large tw-heading" data-uk-scrollspy="target: > *; cls:uk-animation-slide-bottom-medium; delay: 400;">
            <h4 class="tw-sub-title"></h4>
            <h2>Nuevos modelos 2018</h2>
            <a href="/catal1" class="uk-button uk-button-default uk-button-small uk-button-radius tw-hover auto1">
              <span class="tw-hover-inner">
                <span>Conócelos</span>
                <i class="ion-ios-arrow-thin-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="slider-item" data-overlay="0.4" style="background-color: #151515; background-image: url(/demo/shop/slider2.jpg);">
        <div class="slider-content">
          <div class="tw-element uk-text-center large tw-heading" data-uk-scrollspy="target: > *; cls:uk-animation-slide-bottom-medium; delay: 400;">
            <h4 class="tw-sub-title">Nueva MT 03
              <br/>
              Llévala desde $9.000.000</h4>
            <h2>PLAN 50/50
              <br/>
              $18.740.000</h2>
            <a href="catal1" class="uk-button uk-button-default uk-button-small uk-button-radius tw-hover auto1">
              <span class="tw-hover-inner">
                <span>Conócela</span>
                <i class="ion-ios-arrow-thin-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="slider-item" data-overlay="0.4" style="background-color: #151515; background-image: url(/demo/shop/slider3.jpg);">
        <div class="slider-content">
          <div class="tw-element uk-text-center large tw-heading" data-uk-scrollspy="target: > *; cls:uk-animation-slide-bottom-medium; delay: 400;">
            <h4 class="tw-sub-title">R1M
              <br/>
              Versión especial</h4>
            <h2>SU PRECIO
              <br/>
              $73.990.000</h2>
            <a href="/catal1" class="uk-button uk-button-default uk-button-small uk-button-radius tw-hover auto1">
              <span class="tw-hover-inner">
                <span>Conócela</span>
                <i class="ion-ios-arrow-thin-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="uk-section" style="margin: 0 20px;">
    <div class="tw-element tw-heading uk-text-center">
      <h3>Nuestro portafolio más cerca a ti</h3>
    </div>
    <div class="uk-grid-large uk-child-width-expand@s uk-text-center" uk-grid>
      <div>
        <div class="tw-element tw-box uk-text-center">
          <div class="uk-inline tw-onhover visible">
            <img src="/motos2.jpg" alt="Retina Ready" title="Retina Ready" />
            <div class="uk-position-center">
              <a href="/catal1" class="uk-button uk-button-white uk-button-shop uk-no-radius tw-hover auto1"><span class="tw-hover-inner"><span>Ver Moticletas</span><i class="ion-ios-arrow-thin-right"></i></span></a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="tw-element tw-box uk-text-center">
          <div class="uk-inline tw-onhover visible">
            <div class="" style="height:250px;">
              <img style="max-height:100%;" src="/images/Fotos_Cascos/casco1.png" alt="Fully Responsive" title="Fully Responsive" />
            </div>
            <div class="uk-position-center">
              <a href="/catal2" class="uk-button uk-button-white uk-button-shop uk-no-radius tw-hover"><span class="tw-hover-inner"><span>Ver accesorios</span><i class="ion-ios-arrow-thin-right"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="uk-section">
    <div class="uk-container">
      <div class="tw-element tw-heading uk-text-center">
        <h3>Productos Destacados</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <!-- ******************** Carousel ***************************** -->
      <div class="tw-element tw-carousel-shop own-container-carousel">
        <div class="owl-carousel owl-theme" data-uk-scrollspy="target:.shop-item; cls:uk-animation-slide-bottom-medium; delay: 350;">

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product1.jpg">
                <div class="uk-position-bottom">
                  <a href="/catal1" class="add-to-cart auto1"></i>Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">Backpack In Black</a>
              </h4>
              <a href="/catal1" class="add-to-cart auto1"></i>Ver Detalle</a>
              <div class="price">
                <span class="old-price">$26.00</span>
                <span class="new-price">$28.00</span>
              </div>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product2.jpg">
                <div class="uk-position-bottom">
                  <a href="/catal1" class="add-to-cart auto1"></i>Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">BOSS Orange T-Shirt</a>
              </h4>
              <a class="shop-category">Clothing, Man</a>
              <div class="price">
                <span class="new-price">$40.00</span>
              </div>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product3.jpg">
                <div class="uk-position-bottom">
                  <a href="/catal1" class="add-to-cart auto1"></i>Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">Military Backpack</a>
              </h4>
              <a class="shop-category">Accessories</a>
              <div class="price">
                <span class="new-price">$36.00</span>
              </div>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product4.jpg">
                <div class="uk-position-bottom">
                  <a href="/catal1" class="add-to-cart auto1"></i>Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">Industry T-Shirt</a>
              </h4>
              <a class="shop-category">Clothing, Man</a>
              <div class="price">
                <span class="old-price">$30.00</span>
              </div>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product1.jpg">
                <div class="uk-position-bottom">
                  <a href="/catal1" class="add-to-cart auto1"></i>Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">Backpack In Black</a>
              </h4>
              <a class="shop-category">Accessories</a>
              <div class="price">
                <span class="old-price">$25.00</span>
                <span class="new-price">$16.00</span>
              </div>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product2.jpg">
                <div class="uk-position-bottom">
                  <a href="/catal1" class="add-to-cart auto1"></i>Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">Backpack In Black</a>
              </h4>
              <a class="shop-category">Accessories</a>
              <div class="price">
                <span class="old-price">$25.00</span>
                <span class="new-price">$16.00</span>
              </div>
            </div>
          </div>

          <div class="shop-item">
            <div class="shop-content">
              <div class="shop-image-container uk-inline tw-onhover visible own-image-container">
                <img alt="Backpack In Black" src="/demo/shop/product3.jpg">
                <div class="uk-position-bottom">
                  <a href="/catal1" class="add-to-cart auto1"></i>Ver Detalle</a>
                </div>
              </div>
              <h4>
                <a href="shop-single.html" class="shop-title">Backpack In Black</a>
              </h4>
              <a class="shop-category">Accessories</a>
              <div class="price">
                <span class="old-price">$25.00</span>
                <span class="new-price">$16.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="uk-section tw-slider-fullscreen uk-section-large uk-light uk-background-top-center uk-background-cover" data-overlay="0.4" style="background-color: #151515; background-image: url(/demo/shop/shop-bg2.jpg);">
    <div data-uk-scrollspy="target: > .tw-heading; cls:uk-animation-slide-bottom-small; delay: 300">
      <div class="tw-element uk-text-center tw-heading full">
        <h2>Espérala Pronto</h2>
        <h3>Conócela</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#" class="uk-button uk-button-default uk-button-small uk-button-radius tw-hover">
          <span class="tw-hover-inner">
            <span>Ver más</span>
            <i class="ion-ios-arrow-thin-right"></i>
          </span>
        </a>
      </div>
    </div>
  </section>

  <section class="uk-section uk-section-normal">
    <div class="uk-container">
      <div class="uk-child-width-expand@m uk-child-width-1-1@s" data-uk-grid data-uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 200;">

        <div>
          <div class="tw-element tw-box layout-2 custom-typography">
            <i class="et-document uk-border-circle layout-2"></i>
            <h3>Cotización</h3>
            <a style="background: #9b1310;"  href="/financiacion" class="uk-button uk-button-default uk-button-small uk-button-radius tw-hover">
              <span class="tw-hover-inner">
                <span>Ir a servicio</span>
                <i class="ion-ios-arrow-thin-right"></i>
              </span>
            </a>
          </div>
        </div>

        <div>
          <div class="tw-element tw-box layout-2 custom-typography">
            <i class="et-gears uk-border-circle layout-2"></i>
            <h3>Servicio técnico</h3>
            <a style="background: #9b1310;"  href="/citas" class="uk-button uk-button-default uk-button-small uk-button-radius tw-hover">
              <span class="tw-hover-inner">
                <span>Ir a servicio</span>
                <i class="ion-ios-arrow-thin-right"></i>
              </span>
            </a>
          </div>
        </div>

        <div>
          <div class="tw-element tw-box layout-2 custom-typography">
            <i class="et-chat uk-border-circle layout-2"></i>
            <h3>Contacte un asesor</h3>
            <a style="background: #9b1310;" href="/citas" class="uk-button uk-button-default uk-button-small uk-button-radius tw-hover">
              <span class="tw-hover-inner">
                <span>Ir a servicio</span>
                <i class="ion-ios-arrow-thin-right"></i>
              </span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
    </div>
  </section>
</div>
