<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Site Description Here">
    <link rel="shortcut icon" href="/images/favicon.png">

    <title>YamahaSport</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700%7CLora:400,400i%7CShadows+Into+Light:400" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body class="loader">

    <div class="tw-preloader">
      <div data-uk-spinner></div>
    </div>

    <div class="header-container tw-header">
      <nav class="uk-navbar-container uk-flex-center" data-uk-navbar style="border-bottom: 1px solid gray;">

        <div class="uk-navbar-left">
          <div class="tw-logo">
            <a href="/"><img alt="logo" src="/images/yamahaLogo.png" style="width: 75%;"></a>
          </div>
        </div>

        <div class="uk-navbar-center">
          <ul class="tw-main-menu uk-visible@m">
            <li class="menu-item">
              <a style="color: #000;" href="/">Home</a>
            </li>
            <li class="menu-item menu-item-has-children own-itm-children">
              <a style="color: #000;" class="font" href="#">Motocicletas Nuevas</a>
              <ul class="sub-menu uk-animation-fade" style="background: #fff; height:350px; padding:0px; box-shadow: 2px 2px 12px grey;">
                <div class="uk-nav nav-port">
                  <li class="menu-item menu-item-has-children img-port">
                    <a href="/catal1?auto" class="no-item-has-children a1 cat1">
                      <img src="/images/Fotos Motos/automaticas/BWS_FL/bws_verde/EF8A2240.png" class="f1" alt="">
                    </a>
                  </li>

                  <li class="menu-item menu-item-has-children img-port">
                    <a href="/catal1?urbanas" class="no-item-has-children a2">
                      <img src="/images/Fotos Motos/urbanas-trabajo/YBR/YBR1.jpg" class="f2" alt="">
                    </a>
                  </li>

                  <li class="menu-item menu-item-has-children img-port">
                    <a href="/catal1?todo-terreno" class="no-item-has-children a3">
                      <img src="/images/Fotos Motos/todo-terreno/galeria3.png" class="f3" alt="">
                    </a>
                  </li>

                  <li class="menu-item menu-item-has-children img-port">
                    <a href="/catal1?deportivas" class="no-item-has-children a4">
                      <img src="/images/Fotos Motos/deportivas/deportiva2.jpg" class="f4" alt="">
                    </a>
                  </li>

                  <li class="menu-item menu-item-has-children img-port">
                    <a href="/catal1?super" class="no-item-has-children a5">
                      <img src="/images/Fotos Motos/super-deportivas/R3 azul/sstbazul003.png" class="f5" alt="">
                    </a>
                  </li>

                  <li class="menu-item menu-item-has-children img-port">
                    <a href="/catal1?sport" class="no-item-has-children a6">
                      <img src="/images/Fotos Motos/Sport Heritage/Bolt/sstbboltnegra0113397.png" class="f6" alt="">
                    </a>
                  </li>

                  <li class="menu-item menu-item-has-children img-port">
                    <a href="/catal1?cuatri" class="no-item-has-children a7">
                      <img src="/images/Fotos Motos/cuatrimotos/raptor700/2.jpg" class="f7" alt="">
                    </a>
                  </li>
                </div>

                <div class="banner-port" id="ban1">
                  <div class="desc">
                    <p style="color: #fff; font-size: 15px; padding: 15px;">Ligeras, con transmisión automática, de cómoda y fácil conducción, son ideales para el día a día en las ciudades</p>
                  </div>
                  <div class="" style="float: right; display: flex; background: #fff; align-items: flex-end; margin-top: 5px;">

                    <a href="detalle?BWS-X" id="cat1" class="cat1" data-url="automaticas">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/automaticas/BWS_X/BWS_blanca/EF8A2266.png" alt="">
                      </div>
                    </a>

                    <a href="detalle?BWS-FL" class="cat1" style="border-left: 1px solid black; border-right: 1px solid black;">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/automaticas/BWS_FL/bws_verde/EF8A2240.png" alt="">
                      </div>
                    </a>

                    <a href="detalle?BWS-X" class="cat1">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/automaticas/BWS_X/BWS_rojo/EF8A2162.png" alt="">
                      </div>
                    </a>
                  </div>
                </div>

                <div class="banner-port" id="ban2" style="display:none;">
                  <div class="desc">
                    <p style="color: #fff; font-size: 15px; padding: 15px;">Ligeras, con transmisión automática, de cómoda y fácil conducción, son ideales para el día a día en las ciudades</p>
                  </div>
                  <div class="" style="float: right; display: flex; background: #fff; align-items: flex-end; margin-top: 5px;">

                    <a href="/detalle?LIBERO" id="cat2" class="cat2" data-url="urbanas">
                      <div class="img-desc">
                        <img src="images/Fotos Motos/urbanas/LIBERO/azul/Libero Azul 2.png" alt="">
                      </div>
                    </a>

                    <a href="/detalle?FAZER%202.0" class="cat2" style="border-left: 1px solid black; border-right: 1px solid black;">
                      <div class="img-desc">
                        <img style="" src="/images/Fotos Motos/urbanas/FAZER 2.0 FI/negro-rojo/FAZER ROJA Y NEGRA-023.png" alt="">
                      </div>
                    </a>

                    <a href="/detalle?YBR-125" class="cat2">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/urbanas/YBR-125/negra/YBR NEGRA26185.png" alt="">
                      </div>
                    </a>
                  </div>
                </div>

                <div class="banner-port" id="ban3" style="display: none;">
                  <div class="desc">
                    <p style="color: #fff; font-size: 15px; padding: 15px;">Ligeras, con transmisión automática, de cómoda y fácil conducción, son ideales para el día a día en las ciudades</p>
                  </div>
                  <div class="" style="float: right; display: flex; background: #fff; align-items: flex-end; margin-top: 5px;">
                    <a href="/detalle?XT%20660R" class="cat3" id="cat3" data-url="todo_terreno">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/todo-terreno/XT 660R/blanco/yamaha_356251_2014_yam_xt660r_eu_pws1_stu_006.png" alt="">
                      </div>
                    </a>

                    <a href="/detalle?XT%20660R" class="cat3" style="border-left: 1px solid black; border-right: 1px solid black;">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/todo-terreno/XT 660R/negro/yamaha_357078_2014_yam_xt660r_eu_yb_stu_006.jpeg" alt="">
                      </div>
                    </a>

                    <a href="/detalle?XTZ%20125" class="cat3">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/todo-terreno/XTZ 125/azul/galeria5.png" alt="">
                      </div>
                    </a>
                  </div>
                </div>

                <div class="banner-port" id="ban4" style="display: none;">
                  <div class="desc">
                    <p style="color: #fff; font-size: 15px; padding: 15px;">Ligeras, con transmisión automática, de cómoda y fácil conducción, son ideales para el día a día en las ciudades</p>
                  </div>
                  <div class="" style="float: right; display: flex; background: #fff; align-items: flex-end; margin-top: 5px;">
                    <a href="/detalle?MT%2003" class="cat4" id="cat4" data-url="deportivas">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/deportivas/MT 03/azul/9C2A0263.png" alt="">
                      </div>
                    </a>

                    <a href="/detalle?YZ%20125" class="cat4" style="border-left: 1px solid black; border-right: 1px solid black;">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/deportivas/YZ125/2016_YAM_YZ125LC_EU_DPBSE_STU_006_03.jpeg" alt="">
                      </div>
                    </a>

                    <a href="/detalle?MT%2003" class="cat4">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/deportivas/MT 03/gris/9C2A0288.png" alt="">
                      </div>
                    </a>
                  </div>
                </div>

                <div class="banner-port" id="ban5" style="display: none;">
                  <div class="desc">
                    <p style="color: #fff; font-size: 15px; padding: 15px;">Ligeras, con transmisión automática, de cómoda y fácil conducción, son ideales para el día a día en las ciudades</p>
                  </div>
                  <div class="" style="float: right; display: flex; background: #fff; align-items: flex-end; margin-top: 5px;">
                    <a href="/detalle?R1" class="cat5" id="cat5" data-url="super">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/super-deportivas/R1 rojo/sstbr107gallery83434.png" alt="">
                      </div>
                    </a>

                    <a href="/detalle?R1M" class="cat5" style="border-left: 1px solid black; border-right: 1px solid black;">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/super-deportivas/R1M/sstbproduct_yzfr1m_01072745.png" alt="">
                      </div>
                    </a>

                    <a href="/detalle?R15" class="cat5">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/super-deportivas/R15/R15 gris-verde/R15_negro-gris-verde.jpg" alt="">
                      </div>
                    </a>
                  </div>
                </div>

                <div class="banner-port" id="ban6" style="display: none;">
                  <div class="desc">
                    <p style="color: #fff; font-size: 15px; padding: 15px;">Ligeras, con transmisión automática, de cómoda y fácil conducción, son ideales para el día a día en las ciudades</p>
                  </div>
                  <div class="" style="float: right; display: flex; background: #fff; align-items: flex-end; margin-top: 5px;">
                    <a href="/detalle?Bolt%20Negro" class="cat6" id="cat6" data-url="sport">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/Sport Heritage/Bolt/sstbboltnegra0113397.png" alt="">
                      </div>
                    </a>

                    <a href="/detalle?SCR%20950%20Rojo%20Gris" class="cat6" style="border-left: 1px solid black; border-right: 1px solid black;">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/Sport Heritage/SCR950/2017_YAM_XVS950XR-A_EU_VRC1_STU_005_03.jpg" alt="">
                      </div>
                    </a>

                    <a href="/detalle?XSR%20900%20Azul" class="cat6">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/Sport Heritage/XSR900 azul/2017_YAM_XS850_EU_NBM4_STU_001_03.jpg" alt="">
                      </div>
                    </a>
                  </div>
                </div>

                <div class="banner-port" id="ban7" style="display: none;">
                  <div class="desc">
                    <p style="color: #fff; font-size: 15px; padding: 15px;">Ligeras, con transmisión automática, de cómoda y fácil conducción, son ideales para el día a día en las ciudades</p>
                  </div>
                  <div class="" style="float: right; display: flex; background: #fff; align-items: flex-end; margin-top: 5px;">
                    <a href="/detalle?Viking" class="cat7" id="cat7" data-url="cuatri">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/cuatrimotos/viking VI camo/Viking VI camuflado 2016 (3).jpeg" alt="">
                      </div>
                    </a>

                    <a href="/detalle?Viking" class="cat7" style="border-left: 1px solid black; border-right: 1px solid black;">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/cuatrimotos/viking-gris/yamaha_376936_2014_yam_yxm700_eu_lgb_stu_006.png" alt="">
                      </div>
                    </a>

                    <a href="/detalle?Grizzly%20700%20Rojo" class="cat7">
                      <div class="img-desc">
                        <img src="/images/Fotos Motos/cuatrimotos/Grizzly 700 rojo/2015_YAM_YFM700FWAN_EU_RTR_STU_002.jpg" alt="">
                      </div>
                    </a>
                  </div>
                </div>
              </ul>
            </li>

            <li class="menu-item menu-item-has-children">
              <a style="color: #000;" href="#">Accesorios</a>
              <ul class="sub-menu uk-animation-fade" style="background: #fff; z-index:1000; padding:0px; width: 974px; left: -332px; box-shadow: 2px 2px 12px grey;">
                <div class="nav-port-acc" style="margin:20px;">
                  <li class="menu-item menu-item-has-children">
                    <div class="img-desc">
                      <img style="float:none;" src="/images/Fotos_Cascos/casco1.png" alt="">
                    </div>
                    <div class="" style="max-width: 222px;">
                      <a href="/catal2">
                        <h4 style="font-size: 24px; color:#000;">Cascos</h4>
                      </a>
                      <p style="font-size: 11px;">
                        Indispensable elemento de protección que puede salvar tu vida y aminorar las lesiones
                      </p>
                    </div>
                  </li>

                  <li class="menu-item menu-item-has-children">
                    <div class="img-desc">
                      <img style="float:none;" src="/images/Fotos_Acc/botas.png" alt="">
                    </div>
                    <div class="" style="max-width: 222px;">
                      <a href="/catal2">
                        <h4 style="font-size: 24px; color:#000;">Elementos de protección</h4>
                      </a>
                      <p style="font-size: 11px;">
                        Protege todo tu cuerpo con elementos de seguridad como botas y guantes, entre otros
                      </p>
                    </div>
                  </li>

                  <li class="menu-item menu-item-has-children">
                    <div class="img-desc">
                      <img style="float:none;" src="/images/Fotos_Acc/camisa.png" alt="">
                    </div>
                    <div class="" style="max-width: 222px;">
                      <a href="/catal2">
                        <h4 style="font-size: 24px; color:#000;">Prendas y accesorios</h4>
                      </a>
                      <p style="font-size: 11px;">
                        Luce una apariencia Yamaha usando nuestras prendas y accesorios originales
                      </p>
                    </div>
                  </li>

                  <li class="menu-item menu-item-has-children">
                    <div class="img-desc">
                      <img style="float:none;" src="/images/Fotos_Acc/Yamalube.png" alt="">
                    </div>
                    <div class="" style="max-width: 222px;">
                      <a href="/catal2">
                        <h4 style="font-size: 24px; color:#000;">Mantenimiento</h4>
                      </a>
                      <p style="font-size: 11px;">
                        Mantén tu moto y los accesorios en perfecto estado con nuestros productos Yamalube
                      </p>
                    </div>
                  </li>
                </div>
              </ul>
            </li>

            <li class="menu-item">
              <a style="color: #000;" href="/financiacion">Financiación</a>
            </li>
            <li class="menu-item">
              <a style="color: #000;" href="/citas">Citas De Taller</a>
            </li>
            <li class="menu-item">
              <a style="color: #000;" href="/contacto">Contáctenos</a>
            </li>
            <li>
              <a style="color: #000;" href="/post">Blog</a>
            </li>
          </ul>
        </div>

        <div class="uk-navbar-right">
          <div class="uk-child-width-expand" data-uk-grid>
            <div class="tw-element tw-socials tw-socials2 tw-social-light with-hover propia">
              <a href=""><i class="fa uk-icon-button fa-twitter"></i></a>
              <a href=""><i class="fa uk-icon-button fa-facebook"></i></a>
              <a href=""><i class="fa uk-icon-button fa-instagram"></i></a>
              <a href=""><i class="fa uk-icon-button fa-google-plus"></i></a>
              <a href=""><i class="fa uk-icon-button fa-youtube"></i></a>
              <a href=""><i class="uk-icon-button tw-margin fa fa-pinterest"></i></a>
              <a href=""><i class="uk-icon-button tw-margin fa fa-linkedin"></i></a>

            </div>
          </div>
        </div>

        <div class="tw-header-meta" style="z-index: 1000; right: 33px; position: absolute;">
          <a class="mobile-menu uk-navbar-toggle uk-hidden@m" href="#" data-uk-toggle="target: #mobile-menu-modal" style="color: #fff;"><i class="ion-navicon-round" style="font-size: 70px;"></i></a>
        </div>
        <div id="mobile-menu-modal" class="uk-modal-full" data-uk-modal>
          <div class="uk-modal-dialog">
            <button class="uk-modal-close-full" type="button" data-uk-close></button>
            <div class="uk-light uk-height-viewport tw-mobile-modal uk-flex uk-flex-middle uk-flex-center" data-uk-scrollspy="target:>ul>li,>div>a; cls:uk-animation-slide-bottom-medium; delay: 150;">
              <ul class="uk-nav-default uk-nav-parent-icon" data-uk-nav>
                <li class="uk-parent">
                  <a href="index.html">Home</a>
                </li>
                <li class="uk-parent">
                  <a href="#">Motocicletas Nuevas</a>
                  <ul class="uk-nav-sub">
                    <li><a class="auto1" data-url="automaticas" href="/catal1">Automática y Semiautomática</a></li>
                    <li><a class="urbana1" data-url="urbanas" href="/catal1">Urbanas trabajo y Deportivas</a></li>
                    <li><a class="todo1" data-url="todo-terreno" href="/catal1">Todo Terreno</a></li>
                    <li><a class="deportivas1" data-url="deportivas" href="/catal1">Deportivas</a></li>
                    <li><a class="super1" data-url="super" href="/catal1">Super Deportivas</a></li>
                    <li><a class="sport1" data-url="sport" href="/catal1">Sport Heritage</a></li>
                    <li><a class="cuatri1" data-url="cuatri" href="/catal1">Cuatrimotos</a></li>
                  </ul>
                </li>
                <li class="uk-parent">
                  <a href="#">Financiación</a>
                </li>
                <li class="uk-parent">
                  <a href="#">Citas De Taller</a>
                </li>
                <li class="uk-parent">
                  <a href="#">Contáctenos</a>
                </li>
              </ul>

              <div class="tw-socials tw-socials-minimal">
                <a href="#"><i class="ion-social-facebook"></i></a>
                <a href="#"><i class="ion-social-twitter"></i></a>
                <a href="#"><i class="ion-social-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <%= yield %>
  <footer class="uk-section uk-padding-remove-vertical uk-light" style="background-color: #222222;">
    <div class="bottom-area">
      <div class="uk-container">
        <div class="uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-medium" data-uk-grid data-uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 200;">
          <div>
            <div class="widget">
              <div class="tw-logo">
               <img alt="logo" src="/images/yamahaLogo.png">
              </div>
            </div>
          </div>

          <div>
            <div class="widget tw-contact-widget uk-padding-right">
              <h3 class="widget-title"><span>datos de contacto</span></h3>
              <ul>
                <li>
                  <i class="ion-ios-telephone"></i>
                  <a href="#">Número</a>
                </li>
                <li>
                  <i class="ion-android-mail"></i>
                  <a href="#">Correo corporativo</a>
                </li>
                <li>
                  <i class="ion-ios-location"></i>
                  <a href="#">Dirección sede 1</a>
                </li>
                <li>
                  <i class="ion-ios-location"></i>
                  <a href="#">Dirección sede 2</a>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <h3>Somos Distribuidores Oficiales</h3>
            <div class="uk-child-width-1-2@s" data-uk-grid style="margin-top:25px;">
              <a href="#" title="Leonard Morrison">
                <img src="/demo/partner/partner2.png" alt="" />
              </a>
              <a href="#" title="Leonard Morrison">
                <img src="/demo/partner/partner4.png" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-area uk-text-center">
      <div class="uk-child-width-expand" data-uk-grid>
        <div class="tw-element tw-socials tw-with-bg tw-square-bg dark-hover">
            <a href=""><i class="uk-icon-button tw-margin fa fa-twitter"></i></a>
            <a href=""><i class="uk-icon-button tw-margin fa fa-facebook"></i></a>
            <a href=""><i class="uk-icon-button tw-margin fa fa-instagram"></i></a>
            <a href=""><i class="uk-icon-button tw-margin fa fa-pinterest"></i></a>
            <a href=""><i class="uk-icon-button tw-margin fa fa-youtube"></i></a>
            <a href=""><i class="uk-icon-button tw-margin fa fa-google-plus"></i></a>
            <a href=""><i class="uk-icon-button tw-margin fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <div class="footer-area footer-small">
      <div class="uk-container">
        <div class="uk-flex-middle uk-child-width-1-1 uk-child-width-expand@m" data-uk-grid>
          <div class="copyright">
            © Copyright 2017 - Todos los derechos reservados
          </div>
          <div class="uk-text-right">
            <a href="" data-uk-scroll>Back To Top &nbsp;&nbsp;<i class="ion-ios-arrow-up"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
